@import "../../variables.css";

.container {
    flex: 1 1 300px;           
    max-width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--color-dark-bg);
    box-shadow: 0 16px 14px 0 #0d0d13;
    padding: 18px 32px;
    margin-bottom: 20px;
    color: var(--color-bg);
    align-items: center;
    justify-content: center;
}

.imageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}


.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: .5s ease;
    opacity: 1;
    backface-visibility: hidden;
}

.title {
    font-size: 40px; 
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-bg);
    margin-bottom: 10px; 
}

.projectType {
    font-size: 25px;
}

.description {
    margin-top: 6px; 
    font-size: 23px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 23px;
    font-weight: 700;
    border-radius: 12px;
    background: var(--color-bg);
    padding: 2px 22px;
    color: var(--color-purple);
}

.links {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: var(--color-btn); 
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    background: var(--color-secondary);
    padding: 1px 22px;
}
