@import "../../variables.css"; 

#projects {
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0; 
}

.container {
    padding: 76px 10%; 
    z-index: 1;
}

.title {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    color: black;
    letter-spacing: 1.75px;
    z-index: 1;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
