@import "../../variables.css";

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: var(--color-dark-bg);
    box-shadow: 0 16px 14px 0 #0d0d13;
    padding: 18px 24px;
    margin-bottom: 20px;
    color: var(--color-bg);
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    max-width: 50%;              
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 80%; 
    display: block;
    margin: 5px auto; 
    border-radius: 10px;
    opacity: 1;
    height: 80%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projectType {
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
}

.title {
    font-size: 40px; 
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-bg);
}

.description {
    margin-top: 6px; 
    font-size: 20px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    background: var(--color-bg);
    padding: 2px 22px;
    color: var(--color-purple);
}

.links {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: var(--color-btn); 
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    background: var(--color-secondary);
    padding: 1px 22px;
}

.imageContainer:hover .image {
    opacity: 0.3;
}

@media screen and (max-width: 900px) {
    .content {
        flex: 1;
    }
    
    .imageContainer {
        max-width: 40%;
    }

    .image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
    }

    .description {
        font-size: 20px;
    }
}

@media screen and (max-width: 710px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        max-width: 100%; /* add this to override the default */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 200px;
    }
    
    .image {
        display: flex;
        width: 100%;
    }
}
