@import "../../variables.css";

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 16px 14px 0 #2f2f31;
    padding: 48px 32px;
    margin-bottom: 20px;
    color: white;
    gap: 24px;
}

.imageContainer {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.content {
    flex: 2;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.image {
    width: 100%; 
    height: 100%;
    display: block;
    margin: 0 auto; 
    border-radius: 10px;
    object-fit: cover;
    transition: .5s ease;
}

.title {
    font-size: 40px; 
    font-weight: 700;
    color: white;
    margin: 0;
    margin-bottom: 8px;
    min-height: 48px;
    line-height: 1.2;
    display: flex;
    align-items: flex-start;
}

.description {
    margin: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    list-style: none;
}

.skill {
    font-size: 16px;
    border-radius: 10px;
    background: var(--color-bg);
    padding: 10px 15px;
    color: black;
}

.links {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.click {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 20px 0;
}

.github {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    width: 36px;
    height: 36px;
}

.imageContainer:hover .image {
    opacity: 0.3;
}

@media screen and (max-width: 900px) {
    .content {
        flex: 1;
    }
    
    .imageContainer {
        max-width: 40%;
    }

    .image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
    }

    .description {
        font-size: 20px;
    }
}

@media screen and (max-width: 710px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        width: 100%;
        min-height: 200px;
    }
    
    .image {
        height: auto;
        max-height: 300px;
    }
}
