@import "../../variables.css";

.container {
    position: relative; 
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 100px 9%;
    background-color: var(--color-bg);
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-black);
    font-weight: 800;
}

.title {
    width: 100%;
    color: var(--color-purple);
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 30px;
}

.description {
    font-size: 28px;
    margin-bottom: 13px;
    font-weight: 600;
    width: 75%;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 40px;
}

.linkedin {
    max-width: 60px;
    max-height: 60px;
}

.email {
    max-width: 50px;
    max-height: 50px;
    gap: 20px;
}

.github {
    max-width: 45px;
    max-height: 45px;
}

@media screen and (max-width: 1249px) {
    .container {
        flex-direction: column-reverse;
        padding: 100px 8% 100px 8%;
    }

    .content {
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 90px;
    }
}

@media screen and (max-width: 1124px) {
    .container {
        padding: 95px 6%;
    }

    .title {
        font-size: 80px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 26px; 
    }
}

@media screen and (max-width: 930px) {
    .container {
        padding: 95px 5%;
    }

    .title {
        font-size: 75px;
    }
}

@media screen and (max-width: 853px) {
    .title {
        font-size: 90px;
    }
}

@media screen and (max-width: 610px) {
    .title {
        font-size: 70px;
    }

    .description {
        font-size: 23px;
    }
}