@import "../../variables.css";

.container {
    padding: 79px 10%;
}

.title {
    color: black;
    font-size: 45px; 
    font-weight: 700;
    letter-spacing: 1.75px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    color: black;
}

.skillImageContainer {
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
    height: 75px;
}

.skill p {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: 25px;
}