@import "../../variables.css";

.container {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.text {
    margin: 0;
    color: var(--color-text);
    opacity: 0.8;
}

.link {
    color: var(--color-purple);
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.link:hover {
    opacity: 1;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

