@import "../../variables.css";

.container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-bg);
    border-radius: 10px;
    padding: 24px 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: column;
    color: var(--color-light-text);
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.date {
    font-size: 18px;
    font-style: italic;
    color: var(--color-light-text);
    opacity: 0.9;
}

.role {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 8px;
    color: var(--color-light-text);
}

.org {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-light-text);
    margin-bottom: 4px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 12px 0;
}

.skill {
    list-style: none;
    background: var(--color-bg);
    color: var(--color-purple);
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}

.desc {
    margin-left: 15px; 
    margin-top: 8px;
    font-weight: 200;
    line-height: 1.6;
    color: var(--color-light-text);
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    
    .role {
        font-size: 28px;
    }
}