:root {
    --color-text: #262626;
    --color-light-text: #ffffff;

    --color-primary: #576cbc;
    --color-secondary: #3E5879;
    --color-dark: #213555;
    --color-opp: #ffffff;
    --color-purple: #4F51A6;
    --color-black: #000000;

    --color-bg: #ffffff;
    --color-dark-bg: #404042; 

    --color-btn: #fff;
    --font-robot: "Roboto";
}